* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Golos Text;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.red_words {
  color: rgb(245, 73, 50);
  font-weight: 700;
}

.media_display {
  overflow: hidden;
}

.red_line {
  text-decoration: line-through 2px solid rgb(245, 73, 50);
}

.line {
  display: flex;
  animation: running-line 15s linear infinite;
}

@keyframes running-line {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.header__logo {
  display: flex;
  position: absolute;
  top: 26px;
  z-index: 1;
}

.header__title {
  color: rgb(89, 86, 83);
  font-size: 16px;
  font-weight: 700;
  line-height: 108%;
  text-transform: uppercase;
}
.hero {
  position: relative;
  background-image: url(./src/img/back.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  max-width: 1920px;
  width: 100%;
  height: 684px;
  overflow: hidden;
}

.hero__content {
  max-width: 542px;
  height: 684px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  color: rgb(49, 49, 49);
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-top: 24px;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

.hero__button {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.hero__btn-text {
  width: 155px;
}

.hero__btn {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 66px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  width: 263px;
  height: 72px;
}

.hero__btn-left {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

.hero__btn-left:hover {
  color: rgb(31, 31, 31);
  background: rgb(251, 206, 81);
  border: none;
}

.hero__btn-right {
  color: rgb(31, 31, 31);
  background: none;
}

.hero__btn-right:hover {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

.donut {
  padding: 80px 0 64px;
}

.donut__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donut__text {
  max-width: 764px;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.donut__img-mob {
  display: none;
}

.about {
  padding: 0 0 200px;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__title {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}

.about__table {
  width: max-content;
  border-collapse: collapse;
  border: 2px solid white;
  margin: 32px 0 20px;
  max-width: 700px;
  width: 100%;
}
td,
th {
  padding: 3px;
  border: 1px solid rgb(208, 208, 208);
  text-align: left;
  padding: 16px 0;
  font-size: 20px;
  color: rgb(49, 49, 49);
  line-height: 120%;
}

td {
  font-weight: 400;
  opacity: 0.7;
}

th {
  font-weight: 600;
  padding-left: 16px;
}

.about__table-mob {
  display: none;
}

.about__link {
  color: rgb(48, 87, 162);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.stage__text {
  position: relative;
}

.stage__title {
  max-width: 800px;
  color: rgb(49, 49, 49);
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
}

.stage__link {
  width: 280px;
  position: absolute;
  margin-left: 300px;
  bottom: 10px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: rgb(48, 87, 162);
}

.stage__cards {
  display: grid;
  gap: 20px;
  position: relative;
  grid-template-areas:
    ". . third"
    ". . third"
    ". seventh seventh";
}

.stage__cards-mob {
  display: none;
}

.third {
  grid-area: third;
}
.seventh {
  grid-area: seventh;
}
.stage__card-img {
  position: absolute;
  bottom: 0;
  right: -30px;
}

.stage__card {
  display: flex;
  gap: 16px;
  background-image: url(./src/img/card/card.webp);
  padding: 20px;
}
.stage__card-num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
.stage__card-text {
  max-width: 300px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.participants {
  padding: 200px 0 140px;
  position: relative;
  overflow: hidden;
}

.participants__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.participants__title {
  color: rgb(49, 49, 49);
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.participants__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.participants__position {
  padding: 0 15px;
}

.participants__btn-left,
.participants__btn-right {
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgb(49, 49, 49);
}

.participants__btn-left:hover,
.participants__btn-right:hover {
  background: rgb(251, 206, 81);
}

.participants__btn-disabled {
  background: rgb(214, 214, 214);
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.participants__wrapper {
  overflow: hidden;
}

.participants__cards {
  width: 2444px;
  display: flex;
  justify-content: space-between;
  transition-duration: 1s;
  margin-top: 60px;
}

.participants__number {
  color: rgb(49, 49, 49);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.participants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participants__card-img {
  width: 320px;
  height: 320px;
}

.participants__card-text {
  text-align: center;
  color: rgb(49, 49, 49);
  margin: 28px 0 20px;
}
.participants__card-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.participants__card-description {
  margin-top: 6px;
  opacity: 0.6;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
}
.participants__card-btn {
  color: rgb(48, 87, 162);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  padding: 12px;
  border: 1px solid rgb(48, 87, 162);
  border-radius: 62px;
}

.participants__card-btn:hover {
  background: rgb(48, 87, 162);
  color: rgb(255, 255, 255);
}

.footer {
  background: rgb(233, 222, 212);
  padding: 40px 72px;
}

.footer__text {
  color: rgb(49, 49, 49);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}

@media (max-width: 431px) {
  .container {
    max-width: 335px;
  }
  .header__title {
    font-size: 14px;
  }
  .hero {
    background-image: url(./src/img/mobile.webp);
    background-size: cover;
    height: 812px;
  }
  .hero__content {
    margin-top: 90px;
    height: 393px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__button {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }
  .hero__btn-text {
    width: 250px;
  }
  .hero__btn {
    width: 100%;
    height: 45px;
  }
  .donut {
    padding: 40px 0 10px;
  }
  .donut__text {
    max-width: 335px;
    font-size: 28px;
  }

  .donut__img {
    display: none;
  }

  .donut__img-mob {
    display: block;
    padding: 24px 0;
    width: 335px;
  }
  .about {
    padding: 10px 0 40px;
  }

  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__img {
    width: 420px;
    height: 374px;
  }

  .about__title {
    margin-top: 19px;
    font-size: 28px;
  }
  .about__table {
    display: none;
  }
  .about__table-mob {
    margin-top: 28px;
    color: rgb(49, 49, 49);
    display: block;
    font-size: 20px;
    line-height: 120%;
  }
  .about__table-text {
    padding-top: 16px;
    font-weight: 400;
    opacity: 0.7;
  }
  .about__table-subtext {
    margin-top: 10px;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(208, 208, 208);
  }
  .about__link {
    margin-top: 24px;
  }
  .stage {
    padding: 90px 0;
  }
  .stage__text {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .stage__title {
    font-size: 36px;
  }

  .stage__link {
    margin-top: 12px;
    position: static;
    margin-left: 0px;
  }

  .stage__wrapper {
    overflow: hidden;
  }

  .stage__cards {
    display: none;
  }
  .stage__cards-mob {
    width: 1775px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  .stage__card {
    flex-direction: column;
    gap: 28px;
    padding-top: 60px;
    width: 335px;
    height: 300px;
  }
  .stage__flex {
    display: flex;
    gap: 16px;
  }
  .stage__card-img {
    width: 318px;
    top: -120px;
    left: 25px;
  }
  .stage__card-num {
    width: 36px;
    height: 36px;
  }
  .stage__card-text {
    max-width: 243px;
    font-size: 18px;
  }
}
